body {
  font-family: 'Roboto';
  color: rgb(180, 180, 180);
  background-color: rgb(40, 40, 40);
}

#container {
  display: flex;
  flex-direction: column;
}

#loading {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin-top: 30px;
}

#modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 20;
  display: flex;
  justify-content: center;
  align-items: center;
}

#window {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  border-radius: 6px;
  background-color: rgb(40, 40, 40);
}

iframe {
  border: none;
}

@media only screen and (max-width: 700px) {
  #window {
    awidth: 620px;
    aheight: 357.5px;
  }
}